<div class="container">
  <div class="footer__top">
    <!-- col1 -->
    <div class="footer__col">
      <h4 class="footer__title">
        Về <span class="footer__logo">N<span>D</span>shop</span>
      </h4>
      <div class="footer__separator"></div>
      <p class="footer__desc">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, aliquid. Nihil
        nesciunt blanditiis dolores. Earum excepturi et unde nisi eveniet ea.
      </p>
      <ul class="footer__socials">
        <li>
          <a
            href="https://www.facebook.com/ndunv2503/"
            target="_blank"
            class="footer__social">
            <img src="./assets/icon/fb.svg" alt="" />
          </a>
        </li>
        <li>
          <a href="#!" target="" class="footer__social">
            <img src="./assets/icon/twt.svg" alt="" />
          </a>
        </li>
        <li>
          <a href="#!" target="" class="footer__social">
            <img src="./assets/icon/insta.svg" alt="" />
          </a>
        </li>
        <li>
          <a href="#!" target="" class="footer__social">
            <img src="./assets/icon/ytb.svg" alt="" />
          </a>
        </li>
      </ul>
    </div>
    <!-- col2 -->
    <div class="footer__col">
      <h4 class="footer__title">Chính sách</h4>
      <ul class="footer__items">
        <li>
          <a href="#!" class="footer__item"> Chính Sách Bảo Mật </a>
        </li>
        <li>
          <a href="#!" class="footer__item"> Quy Định Bảo Hành </a>
        </li>
        <li>
          <a href="#!" class="footer__item"> Chính Sách Đổi Trả </a>
        </li>
      </ul>
    </div>
    <!-- col3 -->
    <div class="footer__col">
      <h4 class="footer__title">Hỗ Trợ Khách Hàng</h4>
      <ul class="footer__items">
        <li>
          <a href="#!" class="footer__item"> Thanh Toán</a>
        </li>
        <li>
          <a href="#!" class="footer__item"> Tra Cứu Hóa Đơn</a>
        </li>
        <li>
          <a href="#!" class="footer__item"> Trung Tâm Bảo Hành </a>
        </li>
      </ul>
    </div>
    <!-- col4 -->
    <div class="footer__col">
      <h4 class="footer__title">Thông Tin Liên Hệ</h4>
      <ul class="footer__items">
        <li class="footer__item footer__item--no-hover">
          Địa chỉ: 1234 Rainbow Lane Fantasyville, Wonderland 98765
        </li>
        <li class="footer__item footer__item--no-hover">SĐT: 0387702503</li>
        <li class="footer__item footer__item--no-hover">Email: ndunv2503@gmail.com</li>
      </ul>
    </div>
  </div>
  <div class="footer__bottom">
    <p class="footer__copyright">© Dung Nguyen - 2024</p>
  </div>
</div>
