<div class="container">
  <nav class="header__navbar">
    <!-- Menu -->
    <div class="header__ham-menu">
      <div class="off-screen-menu">
        <div class="header__cate">
          <a class="header__cta-ham lgin-btn" href="#!">
            <img src="./assets/icon/user-ham.svg" alt="" />Đăng Nhập/Đăng Ký</a
          >
          <h2 class="sidebar__header">DANH MỤC</h2>
          <ul>
            <ul class="cate-list">
              <li>
                <a class="cate-link" href="#!">Danh mục 1</a>
              </li>
              <li class="cate-item">
                <a class="cate-link" href="#!">Danh mục 2</a>
              </li>
              <li class="cate-item">
                <a class="cate-link" href="#!">Danh mục 3</a>
              </li>
              <li class="cate-item">
                <a class="cate-link" href="#!">Danh mục 4</a>
              </li>
              <li class="cate-item">
                <a class="cate-link" href="#!">Danh mục 5</a>
              </li>
              <li class="cate-item">
                <a class="cate-link" href="#!">Danh mục 6</a>
              </li>
              <li class="cate-item">
                <a class="cate-link" href="#!">Danh mục 7</a>
              </li>
            </ul>
          </ul>
        </div>
      </div>

      <div class="ham-menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <!-- Logo -->
    <a class="logo" href="#"> N<span>D</span>shop</a>
    <!-- Search -->
    <form class="header__search-field" action="" method="get">
      <input
        required
        oninvalid="this.setCustomValidity('Hãy nhập từ khóa')"
        oninput="this.setCustomValidity('')"
        name=""
        class="header__search-bar"
        type="text"
        autocomplete="off"
        maxlength="60"
        placeholder="Tìm kiếm..." />
      <label for="" class="btn search-btn">
        <input type="submit" class="hidden-input" name="" />
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path
            d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
        </svg>
      </label>
    </form>
    <!-- CTA -->

    <div class="cart">
      <div class="header__cart" href="#!">
        <img class="header__cart-img" src="./assets/icon/cart.svg" alt="" />
        <span class="cart-sum">12</span>
        <p class="header__cart-desc">Giỏ hàng</p>
      </div>
      <div class="cart-info">
        <p class="cart-title">GIỎ HÀNG</p>
        <ul class="cart-items">
          <li>
            <div class="cart-item">
              <button class="cart-item__delete">
                <img src="./assets/icon/x.svg" alt="" />
              </button>
              <div class="card-item__left">
                <a href="#!"><img src="./assets/img/gaming_004_3.webp" alt="" /></a>
              </div>
              <div class="card-item__right">
                <p class="cart-item__name">
                  <a href="#!"
                    >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta,
                    numquam.</a
                  >
                </p>
                <div class="card-item__right-footer">
                  <div class="card-item__quantity">
                    <button class="decr-quantity">-</button>
                    <input
                      class="card-item__quantity-input"
                      type="number"
                      value="1"
                      min="1"
                      max="999"
                      maxlength="3"
                      oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
                    <button class="incr-quantity">+</button>
                  </div>
                  <p class="card-item__price">199.000đ</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="cart-item">
              <button class="cart-item__delete">
                <img src="./assets/icon/x.svg" alt="" />
              </button>
              <div class="card-item__left">
                <a href="#!"><img src="./assets/img/gaming_004_3.webp" alt="" /></a>
              </div>
              <div class="card-item__right">
                <p class="cart-item__name">
                  <a href="#!"
                    >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta,
                    numquam.</a
                  >
                </p>
                <div class="card-item__right-footer">
                  <div class="card-item__quantity">
                    <button class="decr-quantity">-</button>
                    <input
                      class="card-item__quantity-input"
                      type="text"
                      pattern="[0-9]*"
                      value="1"
                      minlength="1"
                      maxlength="3"
                      onkeypress="return event.charCode >= 48 && event.charCode <= 57" />
                    <button class="incr-quantity">+</button>
                  </div>
                  <p class="card-item__price">199.000đ</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="cart-item">
              <button class="cart-item__delete">
                <img src="./assets/icon/x.svg" alt="" />
              </button>
              <div class="card-item__left">
                <a href="#!"><img src="./assets/img/gaming_004_3.webp" alt="" /></a>
              </div>
              <div class="card-item__right">
                <p class="cart-item__name">
                  <a href="#!"
                    >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta,
                    numquam.</a
                  >
                </p>
                <div class="card-item__right-footer">
                  <div class="card-item__quantity">
                    <button class="decr-quantity">-</button>
                    <input
                      class="card-item__quantity-input"
                      type="number"
                      value="1"
                      min="1"
                      max="999"
                      maxlength="3"
                      oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
                    <button class="incr-quantity">+</button>
                  </div>
                  <p class="card-item__price">199.000đ</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="cart-item">
              <button class="cart-item__delete">
                <img src="./assets/icon/x.svg" alt="" />
              </button>
              <div class="card-item__left">
                <a href="#!"><img src="./assets/img/gaming_004_3.webp" alt="" /></a>
              </div>
              <div class="card-item__right">
                <p class="cart-item__name">
                  <a href="#!"
                    >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta,
                    numquam.</a
                  >
                </p>
                <div class="card-item__right-footer">
                  <div class="card-item__quantity">
                    <button class="decr-quantity">-</button>
                    <input
                      class="card-item__quantity-input"
                      type="number"
                      value="1"
                      min="1"
                      max="999"
                      maxlength="3"
                      oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
                    <button class="incr-quantity">+</button>
                  </div>
                  <p class="card-item__price">199.000đ</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="cart-item">
              <button class="cart-item__delete">
                <img src="./assets/icon/x.svg" alt="" />
              </button>
              <div class="card-item__left">
                <a href="#!"><img src="./assets/img/gaming_004_3.webp" alt="" /></a>
              </div>
              <div class="card-item__right">
                <p class="cart-item__name">
                  <a href="#!"
                    >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta,
                    numquam.</a
                  >
                </p>
                <div class="card-item__right-footer">
                  <div class="card-item__quantity">
                    <button class="decr-quantity">-</button>
                    <input
                      class="card-item__quantity-input"
                      type="number"
                      value="1"
                      min="1"
                      max="999"
                      maxlength="3"
                      oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
                    <button class="incr-quantity">+</button>
                  </div>
                  <p class="card-item__price">199.000đ</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="cart-item">
              <button class="cart-item__delete">
                <img src="./assets/icon/x.svg" alt="" />
              </button>
              <div class="card-item__left">
                <a href="#!"><img src="./assets/img/gaming_004_3.webp" alt="" /></a>
              </div>
              <div class="card-item__right">
                <p class="cart-item__name">
                  <a href="#!"
                    >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta,
                    numquam.</a
                  >
                </p>
                <div class="card-item__right-footer">
                  <div class="card-item__quantity">
                    <button class="decr-quantity">-</button>
                    <input
                      class="card-item__quantity-input"
                      type="number"
                      value="1"
                      min="1"
                      max="999"
                      maxlength="3"
                      oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
                    <button class="incr-quantity">+</button>
                  </div>
                  <p class="card-item__price">199.000đ</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="cart-item">
              <button class="cart-item__delete">
                <img src="./assets/icon/x.svg" alt="" />
              </button>
              <div class="card-item__left">
                <a href="#!"><img src="./assets/img/gaming_004_3.webp" alt="" /></a>
              </div>
              <div class="card-item__right">
                <p class="cart-item__name">
                  <a href="#!"
                    >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta,
                    numquam.</a
                  >
                </p>
                <div class="card-item__right-footer">
                  <div class="card-item__quantity">
                    <button class="decr-quantity">-</button>
                    <input
                      class="card-item__quantity-input"
                      type="number"
                      value="1"
                      min="1"
                      max="999"
                      maxlength="3"
                      oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
                    <button class="incr-quantity">+</button>
                  </div>
                  <p class="card-item__price">199.000đ</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="cart-item">
              <button class="cart-item__delete">
                <img src="./assets/icon/x.svg" alt="" />
              </button>
              <div class="card-item__left">
                <a href="#!"><img src="./assets/img/gaming_004_3.webp" alt="" /></a>
              </div>
              <div class="card-item__right">
                <p class="cart-item__name">
                  <a href="#!"
                    >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta,
                    numquam.</a
                  >
                </p>
                <div class="card-item__right-footer">
                  <div class="card-item__quantity">
                    <button class="decr-quantity">-</button>
                    <input
                      class="card-item__quantity-input"
                      type="number"
                      value="1"
                      min="1"
                      max="999"
                      maxlength="3"
                      oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
                    <button class="incr-quantity">+</button>
                  </div>
                  <p class="card-item__price">199.000đ</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="cart-item">
              <button class="cart-item__delete">
                <img src="./assets/icon/x.svg" alt="" />
              </button>
              <div class="card-item__left">
                <a href="#!"><img src="./assets/img/gaming_004_3.webp" alt="" /></a>
              </div>
              <div class="card-item__right">
                <p class="cart-item__name">
                  <a href="#!"
                    >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta,
                    numquam.</a
                  >
                </p>
                <div class="card-item__right-footer">
                  <div class="card-item__quantity">
                    <button class="decr-quantity">-</button>
                    <input
                      class="card-item__quantity-input"
                      type="number"
                      value="1"
                      min="1"
                      max="999"
                      maxlength="3"
                      oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
                    <button class="incr-quantity">+</button>
                  </div>
                  <p class="card-item__price">199.000đ</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="cart-item">
              <button class="cart-item__delete">
                <img src="./assets/icon/x.svg" alt="" />
              </button>
              <div class="card-item__left">
                <a href="#!"><img src="./assets/img/gaming_004_3.webp" alt="" /></a>
              </div>
              <div class="card-item__right">
                <p class="cart-item__name">
                  <a href="#!"
                    >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta,
                    numquam.</a
                  >
                </p>
                <div class="card-item__right-footer">
                  <div class="card-item__quantity">
                    <button class="decr-quantity">-</button>
                    <input
                      class="card-item__quantity-input"
                      type="number"
                      value="1"
                      min="1"
                      max="999"
                      maxlength="3"
                      oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
                    <button class="incr-quantity">+</button>
                  </div>
                  <p class="card-item__price">199.000đ</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="cart-item">
              <button class="cart-item__delete">
                <img src="./assets/icon/x.svg" alt="" />
              </button>
              <div class="card-item__left">
                <a href="#!"><img src="./assets/img/gaming_004_3.webp" alt="" /></a>
              </div>
              <div class="card-item__right">
                <p class="cart-item__name">
                  <a href="#!"
                    >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta,
                    numquam.</a
                  >
                </p>
                <div class="card-item__right-footer">
                  <div class="card-item__quantity">
                    <button class="decr-quantity">-</button>
                    <input
                      class="card-item__quantity-input"
                      type="number"
                      value="1"
                      min="1"
                      max="999"
                      maxlength="3"
                      oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
                    <button class="incr-quantity">+</button>
                  </div>
                  <p class="card-item__price">199.000đ</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="cart-item">
              <button class="cart-item__delete">
                <img src="./assets/icon/x.svg" alt="" />
              </button>
              <div class="card-item__left">
                <a href="#!"><img src="./assets/img/gaming_004_3.webp" alt="" /></a>
              </div>
              <div class="card-item__right">
                <p class="cart-item__name">
                  <a href="#!"
                    >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta,
                    numquam.</a
                  >
                </p>
                <div class="card-item__right-footer">
                  <div class="card-item__quantity">
                    <button class="decr-quantity">-</button>
                    <input
                      class="card-item__quantity-input"
                      type="number"
                      value="1"
                      min="1"
                      max="999"
                      maxlength="3"
                      oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
                    <button class="incr-quantity">+</button>
                  </div>
                  <p class="card-item__price">199.000đ</p>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div class="cart-total">
          <p class="total-desc">TỔNG TIỀN:</p>
          <p class="total-price">1.699.999đ</p>
        </div>
        <a href="#!" class="see-cart btn">XEM GIỎ HÀNG</a>
      </div>
    </div>

    <span class="separator"></span>
    <div class="header__cta">
      <a href="#!" class="btn btn-trans lgin-btn">Đăng Nhập</a>
      <span></span>
      <a href="#!" class="btn regis-btn">Đăng Ký</a>
    </div>
    <a class="header__cta-mobile lgin-btn" href="#!"
      ><img src="./assets/icon/user.svg" alt=""
    /></a>
  </nav>
  <div class="header__overlay hidden"></div>
</div>
<span class="overlay"></span>
